---
const {variant = "primary", isLink = false, href = ""} = Astro.props
---
<style>
@import './styles.css';
</style>

{ isLink ?
<a class={`btn ${variant}`} href={href}>
  <slot/>
</a>
  :
<button class={`btn ${variant}`}>
  <slot/>
</button>}
