---
import Button from "@/ui/button/Button.astro"
import roundText from "./images/round-text.svg?url"
---
<style>
@import './styles.css';
</style>

<section class="hero">
  <div id="container">
    <div>
      <h1>Daria Yudashkina</h1>
      <img src={roundText} class="round-text" alt="round text"/>
      <Button>Смотреть проекты</Button>
      <Button>Скачать CV</Button>
    </div>
  </div>
</section>
