---
import Button from "@/ui/button/Button.astro"
import roundText from "./images/round-text.svg?url"
import ChevronRight from "./images/chevron-right.svg"
import qr from "./images/qr.png"
---
<style>
@import './styles.css';
</style>

<section class="hero">
  <div class="container">
    <header>
      portfolio / ux / product design
    </header>

    <main>
      <div class="left-panel">
        <div class="top">
          [Опыт работы]
          <ul>
            <li>SEO SAAS</li>
            <li>B2B/B2C</li>
            <li>Web/Software</li>
          </ul>
        </div>

        <div class="bottom">
          <img src={qr.src} alt="qr code favorite music playlist link">

          <div>
            55°01′50″ N<br>
            82°55′28″ E
          </div>
        </div>
      </div>

      <div class="central-panel">
        <div class="central-panel-content">
          <h1>
            Daria
            <div class="lg-none"></div>
            Yudashkina
          </h1>

          <div class="japanese-name">
            ユダシキナ · ダリア
          </div>

          <div class="role">
            РОЛЬ_
            Дизайн Менеджер
          </div>

          <div class="buttons-wrapper">
            <Button isLink={true} href="#">
              Смотреть проекты
              <ChevronRight class="button-chevron"/>
            </Button>
            <Button variant="secondary" isLink={true} href="#">
              Скачать CV
            </Button>
          </div>

          <div class="city">
            Novosibirsk/RU
          </div>

          <img src={roundText} class="round-text" alt="round text"/>
        </div>
      </div>

      <div class="right-panel">
        <div class="top">
          [Навыки]
          <ul>
            <li>Product Design</li>
            <li>UX Design</li>
            <li>Design Mgmt</li>
          </ul>
        </div>

        <div class="bottom">
          [Инструменты]
          <ul>
            <li>Figma</li>
            <li>Adobe Photoshop</li>
            <li>Axure</li>
            <li>Miro / Notion</li>
            <li>Glaude / GPT</li>
          </ul>

          <a href="https://t.me/dariadsgn" target="_blank">t.me/dariadsgn</a>
        </div>
      </div>

    </main>

    <footer>
      product design · ux strategy · dsgn management · software · ui · product design · saas · b2c · web · a11y · ux
      psychology · design process · audit
    </footer>
  </div>
</section>
