.hero {
  background-color: var(--background-color);
  text-transform: uppercase;
}

.container {
  min-width: 340px;
  max-width: 1160px;
  margin: 0 auto;
  border: 1px solid var(--offblack-color);

  @media (width >= 360px) {
    margin: 0 10px;
  }

  @media (width >= 1160px) {
    margin: 0 auto;
  }
}

header {
  padding: 27px 20px;
  border-bottom: 1px solid var(--offblack-color);

  @media (width >= 960px) {
    padding: 25px 32px;
  }

  .header-content-mobile {
    display: block;

    @media (width >= 960px) {
      display: none;
    }
  }

  .header-content-desktop {
    display: none;

    @media (width >= 960px) {
      display: flex;
      justify-content: space-between;
    }
  }
}

main {
  display: flex;

  @media (width >= 960px) {
    border-bottom: 1px solid var(--offblack-color);
  }
}

.left-panel {
  display: none;

  @media (width >= 1280px) {
    display: unset;
    padding: 24px 19px;
    width: 186px;
    border-right: 1px solid var(--offblack-color);
  }

  .top {
    padding: 0 11px 24px 11px;
    border-bottom: 1px solid var(--offblack-color);
  }

  .bottom {
    padding: 25px 14px 0 14px;
    text-align: center;

    img {
      margin: 0 auto 50px auto;
      max-width: 120px;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 15px;
  }
}

.central-panel {
  flex-grow: 1;
  padding-block: 40px 27px;

  @media (width >= 960px) {
    padding: 56px 40px;
  }

  .central-panel-content {
    position: relative;
  }
}

.right-panel {
  display: none;

  @media (width >= 960px) {
    display: unset;
    padding: 24px 16px;
    width: 224px;
    border-left: 1px solid var(--offblack-color);
  }

  .top {
    padding: 0 19px 24px 19px;
    border-bottom: 1px solid var(--offblack-color);
  }

  .bottom {
    padding: 24px 14px 0 14px;

    ul {
      margin-bottom: 27px;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 15px;
  }
}

footer {
  display: none;

  @media (width >= 960px) {
    display: block;
    padding: 24px 0;
    white-space: nowrap;
    overflow: hidden;
  }
}

.footer-track {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.info {
  display: none;

  @media (width >= 960px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;

  @media (width >= 960px) {
    text-align: left;
  }
}

.japanese-name {
  margin-bottom: 24px;
  text-align: center;

  @media (width >= 960px) {
    text-align: left;
  }
}

.role {
  display: flex;
  margin: 0 auto 40px auto;
  width: 220px;
  text-align: left;

  @media (width >= 960px) {
    width: auto;
    text-align: left;
  }
}

.cursor {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 6px;
  height: 17px;
  background-color: #2448FF;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 36px;
  gap: 24px;

  @media (width >= 960px) {
    flex-direction: row;
    margin-bottom: 0;
    padding: 0;
  }

  .btn {
    width: 270px;

    @media (width >= 960px) {
      width: auto;
    }
  }
}

.open-to-work {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button-chevron {
  width: 6px;
  height: auto;
}

.city {
  text-align: center;

  @media (width >= 960px) {
    display: none;
  }
}

.round-text {
  display: none;

  @media (width >= 960px) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: auto;
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
