/* underlined link */
.underline {
  color: var(--offblack-color);
  padding-bottom: 1px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease;

  &:hover {
    background-size: 100% 2px;
  }
}

/* blinking-dot */
.blinking-dot {
  width: 10px;
  height: 10px;
  background-color: #2448FF;
  border: 2px solid #AAB8FF;
  border-radius: 50%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: 50%;
    border: 2px solid #AAB8FF;
    animation: ping 1.5s ease-out infinite;
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
